div#home-page {
  width: 100%;
  height: var(--main-height);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

div#home-page section {
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  /* filter: brightness(0.7); */
  cursor: pointer;
  overflow: hidden;
  transition: all var(--transition-time);
}

div#home-page section div.info {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: end;
  transition: background-color var(--transition-time);
}

div#home-page section div.info p {
  padding-bottom: 45%;
  font-weight: 500;
  transform: translateY(calc(100% + 3rem));
  transition: transform var(--transition-time);
}

div#home-page section:hover {
  filter: brightness(1);
}

div#home-page section:hover div.info {
  background-color: #FFFFFFCC;
}

div#home-page section:hover div.info p {
  transform: translateY(0);
}

div#home-page a,
div#home-page a:link,
div#home-page a:visited,
div#home-page a:hover,
div#home-page a:active {
  color: unset;
  text-decoration: none;
}