div#home-page {
  width: 100%;
  height: var(--main-height);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

div#home-page section {
  width: 100%;
  height: 100%;
}

div#home-page section#instituto {
  background-color: red;
}

div#home-page section#exames {
  background-color: blue;
}

div#home-page section#area-kids {
  background-color: green;
}