div#error-page {
  background-color: var(--colors-3-base);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

div#error-page img {
  width: 25vw;
}

div#error-page div.container {
  display: flex;
  align-items: center;
}

@media (min-width: 601px) and (max-width: 900px) {
  div#error-page {
    text-align: center;
  }

  div#error-page img {
    width: 50vw;
  }

  div#error-page div.container {
    padding-bottom: 5rem;
    flex-direction: column;
    justify-content: center;
  }
}

@media (max-width: 600px) {
  div#error-page {
    text-align: center;
  }

  div#error-page img {
    width: 75vw;
  }

  div#error-page div.container {
    padding-bottom: 5rem;
    flex-direction: column;
    justify-content: center;
  }

  div#error-page h1 {
    font-size: 1.75rem;
  }
}